@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

.slideout-menu {
  display: none;
}

/*--------------------*/
@font-face {
  font-family: "colorfont";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/Agreloycazure-BWLMn.ttf");
}
@font-face {
  font-family: "seguili";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/kozystane_teraz/seguili.ttf");
}
@font-face {
  font-family: "seguibli";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/kozystane_teraz/seguibli.ttf");
}
.btn {
  min-width: 200px;
  height: 50px;
  border: 1px solid;
  color: rgb(199, 86, 86);
  padding: 5px 8px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
  width: 0%;
  height: 0%;
}

.Zarządzaniem_lekami table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.Zarządzaniem_lekami table tbody td {
  vertical-align: middle;
  border: 1px solid;
}
.Zarządzaniem_lekami table tbody td a {
  text-align: center;
}
.Zarządzaniem_lekami table tbody td a img {
  width: 20px;
  height: 20px;
}
.Zarządzaniem_lekami table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.Zarządzaniem_lekami table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.Zarządzaniem_lekami table thead {
  background-color: #b656b6;
}
.Zarządzaniem_lekami table thead tr th {
  border: 2px solid;
}
.Zarządzaniem_lekami .add {
  width: 30px;
  text-align: center;
  display: block;
  border: 2px solid;
  padding: 5px 10px;
  margin: 5px;
  margin-left: 100%;
  color: black;
}

.Otrzymanie_potwierdzenie table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.Otrzymanie_potwierdzenie table tbody td {
  border: 1px solid;
}
.Otrzymanie_potwierdzenie table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.Otrzymanie_potwierdzenie table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.Otrzymanie_potwierdzenie table thead {
  background-color: #b656b6;
}
.Otrzymanie_potwierdzenie table thead tr th {
  border: 2px solid;
}

h1 {
  margin: 10px;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
}

form {
  margin: 20px;
}
form input {
  border: 1px solid;
}
form input #Id #ID_paragon #pacjenta {
  width: 100px;
  height: 20px;
}

.leki table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.leki table tbody td {
  border: 1px solid;
}
.leki table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.leki table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.leki table thead {
  background-color: #b656b6;
}
.leki table thead tr th {
  border: 2px solid;
}

.Interfejs_Pacjenta table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.Interfejs_Pacjenta table tbody td {
  border: 1px solid;
}
.Interfejs_Pacjenta table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.Interfejs_Pacjenta table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.Interfejs_Pacjenta table thead {
  background-color: #b656b6;
}
.Interfejs_Pacjenta table thead tr th {
  border: 2px solid;
}

.rejestracja table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.rejestracja table tbody td {
  border: 1px solid;
}
.rejestracja table tbody td a {
  text-align: center;
}
.rejestracja table tbody td a img {
  width: 20px;
  height: 20px;
}
.rejestracja table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.rejestracja table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.rejestracja table thead {
  background-color: #b656b6;
}
.rejestracja table thead tr th {
  border: 2px solid;
}

.podtwerdzenie_oplaty_lekuw_uslug table {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}
.podtwerdzenie_oplaty_lekuw_uslug table tbody td {
  border: 1px solid;
}
.podtwerdzenie_oplaty_lekuw_uslug table tbody tr:nth-child(odd) {
  background-color: #f0eaee;
}
.podtwerdzenie_oplaty_lekuw_uslug table tbody tr:nth-child(even) {
  background-color: #b9b6b6;
}
.podtwerdzenie_oplaty_lekuw_uslug table thead {
  background-color: #b656b6;
}
.podtwerdzenie_oplaty_lekuw_uslug table thead tr th {
  border: 2px solid;
}