@font-face{font-family:'colorfont'; font-style: normal;  font-weight: 500; src: url('../content/fonts/Agreloycazure-BWLMn.ttf')}
@font-face{font-family:'seguili'; font-style: normal;  font-weight: 500; src: url('../content/fonts/kozystane_teraz/seguili.ttf')}
@font-face{font-family:'seguibli'; font-style: normal;  font-weight: 500; src: url('../content/fonts/kozystane_teraz/seguibli.ttf')}
