//--------------------------------Interfejs lekarza.html----------------------------------

.Zarządzaniem_lekami{
    table{
        margin: 5px;
        border: 1px solid;
        text-align: center;
        tbody{
            td{
                vertical-align: middle;
                border: 1px solid;
                a{
                    text-align: center;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            tr:nth-child(odd) {
                background-color: #f0eaee;
            }
            tr:nth-child(even) {
                background-color: #b9b6b6;
            }
        }
    
        thead{
            background-color: #b656b6;
            tr{
                th{
                    border: 2px solid;
                }
            }
        }
    }

    .add{
        width: 30px;
        text-align: center;
        display:block;
        border: 2px solid;
        padding: 5px 10px;
        margin: 5px;
        margin-left: 100%;
        color: black;
    }
}

.Otrzymanie_potwierdzenie{
    table{
        margin: 5px;
        border: 1px solid;
        text-align: center;
        tbody{
            td{
                border: 1px solid;
            }
            tr:nth-child(odd) {
                background-color: #f0eaee;
            }
            tr:nth-child(even) {
                background-color: #b9b6b6;
            }
        }
    
        thead{
            background-color: #b656b6;
            tr{
                th{
                    border: 2px solid;
                }
            }
        }
    }
}

//--------------------------------dodanie lekuw.html + redagowanie lekuw.html----------------------------------
h1{
    margin: 10px;
    font-weight: bold;
    font-size: 48px;
}

h2{
    margin: 10px;
    font-weight: bold;
    font-size: 24px;
}

form{
    margin: 20px;
    input{
        border: 1px solid;
        #Id #ID_paragon #pacjenta{
            width: 100px;
            height: 20px; 
         }
    }
}

//--------------------------------leki.html----------------------------------

.leki{
    table{
        margin: 5px;
        border: 1px solid;
        text-align: center;
        tbody{
            td{
                border: 1px solid;
            }
            tr:nth-child(odd) {
                background-color: #f0eaee;
            }
            tr:nth-child(even) {
                background-color: #b9b6b6;
            }
        }
    
        thead{
            background-color: #b656b6;
            tr{
                th{
                    border: 2px solid;
                }
            }
        }
    }
}